<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ida:ClientId" value="e582420c-f3d6-4436-b67e-961f1d0b53a5" xdt:Transform="Insert"/>
    <add key="ida:AADInstance" value="https://login.windows.net/" xdt:Transform="Insert"/>
    <add key="ida:Tenant" value="9b37d998-5ad3-4504-ab02-3539f7296bd9" xdt:Transform="Insert"/>
    <add key="ida:PostLogoutRedirectUri" value="http://localhost:64887/" xdt:Transform="Insert"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>